/*  Intro section  */

.intro {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: x-large;
}

img {
    border-radius: 50%;
    border: 5px solid rgb(10, 0, 0);
}

body{
    font-family:'Arial Narrow Bold', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  

  

.home-page{
    background-color: rgb(34, 34, 39);
    text-align: center;
    color: white;
    font-size: xx-large;
    padding: 5%;
}

.home-btn {
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 50px;
}
  
.home-btn:hover {
    background-color: #ffffff;
    color: rgb(34, 34, 39);
}


.my-bio{
    background-color: rgb(34, 34, 39);
    text-align: center;
    color: white;
    font-size: xx-large;
    padding: 5%;
}


.bio-btn {
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 50px;
  }
  
.bio-btn:hover {
    background-color: #ffffff;
    color: rgb(34, 34, 39);
}

.my-bio2{
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: xx-large;
    padding: 5%;
}
.bio-btn2 {
    color: rgb(34, 34, 39);
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 50px;
}
  
.bio-btn2:hover {
    background-color: rgb(34, 34, 39);
    color: white;
}

.my-experiences{
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: xx-large;
    padding: 5%;
}
.my-experiences2{
    background-color: rgb(34, 34, 39);
    text-align: center;
    color: white;
    font-size: xx-large;
    padding: 5%;
}
.xp-btn {
    color: rgb(34, 34, 39);
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 50px;
}
  
.xp-btn:hover {
    background-color: rgb(34, 34, 39);
    color: white;
}

.xp-btn2 {
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 50px;
  }
  
.xp-btn2:hover {
    background-color: #ffffff;
    color: rgb(34, 34, 39);
}

.my-projects{
    background-color: rgb(34, 34, 39);
    text-align: center;
    font-size: xx-large;
    padding: 5%;

}

.proj-btn {
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 50px;
  }
  
.proj-btn:hover {
    background-color: #ffffff;
    color: rgb(34, 34, 39);
}


.footer{
    background-color: rgb(17, 17, 26);
    text-align: center;
    color: white;
    padding: 5%;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}